.container {
  width: 100%;
  height: 4.5rem;
  padding: 1rem;
  background: var(--gray-500);
  border: 1px solid var(--gay-400);
  border-radius: 8px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 0.75rem;
  border: 1px solid var(--gay-400)
}
.container + .container {
  margin-top: 0.75rem;
}

.container input{
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.container p {
  width: 100%;
  height: 100%;
  font-size: 0.875rem;
  line-height: 1.225rem;
  color: var(gray-100);

  display: flex;
}

.container button{
  background: transparent;
  border: none;
  width: 24px;
  height: 24px;
  color: var(--gray-300);
  border-radius: 4px;
  align-items: center;
  justify-content: center;

  transition: ease-in 0.3s;
}

.container button > svg{
line-height: 0;
}

.container button:hover {

  background: var(--gray-400);
  color: var(--danger);
}

.container > label {
  width: 24px;
  height: 24px;
  padding: 3.27px;
  align-items: center;
  position: relative;
  cursor: pointer;

}
.container > label span {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  
}

.container label input[type="checkbox"] {
  appearance: none;
  border: 2px solid var(--blue);
  width: 17.45px;
  height: 17.45px;
  border-radius: 50%;
  transition: 0.2s;
  
}

.container label input[type="checkbox"]:checked + span {
  display: block;
}
.container label input[type="checkbox"]:checked {

border: var(--purple-dark);
background-color: var(--purple-dark);
}

.container label input[type="checkbox"]:checked:hover {
  background-color: var(--purple);
}


.container label input[type="checkbox"]:hover {
  border: 2px solid rgba(30, 111, 159, 0.2);
  background: rgba(30, 111, 159, 0.2);
}

 .container .done {
  text-decoration: line-through;
  color: var(--gray-300);
}